<div class=" home_header_font">
  <div class="row home_background_color">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
      <%= render 'sign_in' %>
    </div>
  </div>
</div>

<div class="home_body_font">
<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6" style="margin-top:70px">
    <%= render 'sign_up' %>
  </div>
</div>
</div> 
