<div class="modal" id="sharedNoteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">SharedNote</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <% @shared_notes.each do |note| %>
          <%= note.email %>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Add" ,class: "btn btn-color",id: "addnote"%>
      </div>
    </div>
  </div>
</div>
